<nav class="navbar navbar-nav justify-content-center">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item"><a href="{{ path('accueil') }}">Accueil</a></li>
        <li class="nav-item"><a href="{{ path('booklist') }}">Livres</a></li>
        <li class="nav-item"><a href="{{ path('movie_list') }}">Films</a></li>
        <li class="nav-item"><a href="{{ path('serie_list') }}">Séries</a></li>
        <li class="nav-item"><a href="{{ path('book_add') }}">Ajouter</a></li>
    </ul>
</nav>